.subtitle
  %b
    Groups

#groups_list
  - if @groups.size > 0
    = paginate @groups
    %br
    - @groups.each do |group|
      .group
        .full_name
          = link_to group['full_name'], :controller => '/yammer/messages', :action => 'in_group', :id => group['id']
    %br
    = paginate @groups

