.subtitle
  %b
    In group
.group
  .mugshot
    = image_tag @group['mugshot_url'], :align => 'left'
  .full_name
    %b
      = @group['full_name']
  %br{:clear => 'left'}
.send_message
  = link_to image_tag('comment.gif') + ' Send Message', new_yammer_messages_path(:group_id => @group['id'])

= render 'messages_list'

